
body, html {
  width: 100%;
}

div.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 25px;
  border: 1px solid blue;
  background-color: white;
}

div.text {
  width: 100%;
  text-align: center;
  border: 1px solid red;
}

div#story-options {
  width: 100%;
  text-align: center;
  border: 1px solid green;
}

button.btn {
  margin: 25px;
  padding: 10px;
}

/* Full Page Background Image */

html {
  background: url(../images/1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
