
.projects {
  border: 1px solid red;
  padding: 5%;
  width: 80%;
  margin: 0 auto;
}

.project {
  border: 1px solid blue;
  position: relative;
  display: inline-block;
  padding: 40px;
  margin: 30px;
  z-index: 2;
}

.image-overlay {
  max-width: 50px;
}
